{% extends "layouts.html" %}
{% from "macros.html" import nav with context %}
{% block content %}
{{ nav('home') }}

    <main role="main" class="inner cover">
      <div class="container">
      <h1 class="cover-heading">Welcome to the Shop</h1>
      <p class="lead text-muted">We sell stuff.</p>
          <p>
            <a href="shop.html" class="btn btn-primary my-2">Buy Something?</a>
            {% if not loggedin %}
                <a href="signup.html" class="btn btn-secondary my-2">Sign Up</a>
            {% endif %}
          </p>
      </div>
    </main>

    <footer class="py-5">
        <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Raymond Huang, Gurpreeth Singh, Tenzin Loden 2019</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock content %}

