{% extends "layouts.html" %}
{% from "macros.html" import nav with context %}
{% block content %}
{{ nav('home') }}

<div class="container">

    <div class="row">
        <!-- /.col-lg-3 -->

        <div class="col-md-12">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="static/images/items/{{ id }}.png" alt="">
                <div class="card-body">
                    {% if type %}
                    <h3 class="card-title">{{ type }}</h3>
                    <h4>${{ price }}</h4>
                    <p class="card-text">{{ desc }}</p>
                    <p>
                        {% if loggedin %}
                    <form method="POST">
                        <input type="hidden" name="item" value="{{ id }}">
                        <input type="submit" class="btn btn-primary" name="cart" value="Add to Cart">
                        <input type="submit" class="btn btn-secondary" name="wishlist" value="Add to Wishlist">
                    </form>
                    {% endif %}
                    {% if employee %}
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal">Edit
                        Item
                    </button>
                    <button type="button" class="btn btn-danger">Delete Item</button>
                    {% endif %}
                    </p>
                    {% else %}
                    <h3 class="card-title">Product Name</h3>
                    <h4>Price</h4>
                    <p class="card-text">Description</p>
                    <p>
                        <button type="button" class="btn btn-primary">Add to Cart</button>
                        <button type="button" class="btn btn-secondary">Add to Wish List</button>
                    </p>
                    {% endif %}
                    {% if rating != 0 %}
                    <div class="ratings">
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width:{{ (rating/5)*100 }}%"></div>
                    </div>
                      {{ rating }} Stars
                    {% else %}
                        Rating N/A
                    {% endif %}
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    {% if reviews %}
                        {% for review in reviews %}
                            <p>{{ review[0] }}</p>
                            <small class="text-muted">Posted by {{ review[1] }}</small>
                            <button type="button" class="btn btn-danger btn-sm float-right">Delete Review</button>
                            <hr>
                        {% endfor %}
                    {% else %}
                    <p> No Reviews Yet</p>
                    {% endif %}
                    {% if loggedin %}
                        <button type="button" href="#reviewModal" class="btn btn-success" data-toggle="modal"
                                data-target="#reviewModal">Leave a Review
                        </button>
                    {% endif %}
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>

<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="rating" method="POST" action="">
                <div class="modal-body">
                <div class="form-group">
                      <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value=5 /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value=4 /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value=3 /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value=2 /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value=1 /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    </fieldset>
                    <textarea class="form-control" id="reviewArea" rows="5" placeholder="Review Here" name="review" value="{{ request.form.review }}"></textarea>
                    <input type="hidden" name="itemid" value="{{ id }}">
                  </div>
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" name="review" value="Leave Review">
                  </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Item Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalTitle">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputName">Name</label>
                            <input type="name" class="form-control" id="inputName" placeholder="Name">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPrice">Price</label>
                            <input type="price" class="form-control" id="inputPrice" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSeller">Seller Name</label>
                        <input type="seller" class="form-control" id="inputSeller" placeholder="Seller Name">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="type">Category</label>
                            <select class="custom-select d-block w-100" id="type" name="cardType"
                                    value="{{ request.form.cardType }}" required>
                                <option value="">Choose...</option>
                                <option>Shirts</option>
                                <option>Pants</option>
                                <option>Shoes</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCategory">Image</label>
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFile">Image</label>
                                <input type="file" class="custom-file-input" id="customFile" placeholder="Image">
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputQuantity">Quantity</label>
                            <input type="text" class="form-control" id="inputQuantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputReview">Description</label>
                            <textarea class="form-control" id="inputReview" rows="5" placeholder=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Edit Item</button>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

{% endblock content %}