{% extends "layouts.html" %}
{% from "macros.html" import nav with context %}
{% block content %}
{{ nav('payment') }}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Payment Info</h1>
    </div>
</div>

<div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
            {% if items != None %}
                {% for item in items %}
                <div class="col-md-4">
                    <div class="card mb-4" style="width: 18rem;">
                        <div class="card-body">
                            <form method="POST">
                                <input type="hidden" name="cardname" value={{ item[1] }}>
                                <input type="hidden" name="cardnum" value={{ item[2] }}>
                                <input type="hidden" name="cardcomp" value={{ item[3] }}>
                                <input type="hidden" name="cardexp" value={{ item[4] }}>
                            <h5 class="card-title">{{ item[3] }} - {{ item[2] }}</h5>
                            <p class="card-text">{{ item[1] }}<br>Expires {{ item[4] }}</p>
                            <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editModal" class="card-link">Edit</button>
                            <button class="btn btn-secondary btn-sm" name="delete" type="submit" class="card-link">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p> No current saved cards</p>
            {% endif %}
            </div>
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addModal">Add Card</button>
        </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalTitle">Edit Card Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="inputNumber" class="sr-only">Card Number</label>
                            <input type="number" id="inputNumber" class="form-control" placeholder="Card Number"
                                   name="number" value="{{ request.form.number }}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="sr-only">Full Name</label>
                            <input type="name" id="inputName" class="form-control" placeholder="Full Name" name="name"
                                   value="{{ request.form.name }}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputCompany" class="sr-only">Company</label>
                            <input type="company" id="inputCompany" class="form-control" placeholder="Company"
                                   name="company" value="{{ request.form.company }}" required>
                        </div>
                        <div class="form-group">
                            <input type="expirationDate" class="form-control" id="expiration" name="expiration"
                                   placeholder="Expiration Date" type="text" value="{{ request.form.expirationDate }}"
                                   required/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="POST" action="">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalTitle">Edit Card Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputNumber2" class="sr-only">Card Number</label>
                            <input type="number" id="inputNumber2" class="form-control" placeholder="Card Number"
                                   name="number" value="{{ request.form.number }}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputName2" class="sr-only">Full Name</label>
                            <input type="name" id="inputName2" class="form-control" placeholder="Full Name" name="name"
                                   value="{{ request.form.name }}" required>
                        </div>
                        <div class="form-group">
                            <label for="type">Card Type</label>
                            <select class="custom-select d-block w-100" id="type" name="cardType"
                                    value="{{ request.form.cardType }}" required>
                                <option value="">Choose...</option>
                                <option>Visa</option>
                                <option>Discover</option>
                                <option>MasterCard</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="expirationDate" class="form-control" id="expiration2" name="expiration"
                                   placeholder="Expiration Date" type="text" value="{{ request.form.expiration }}"
                                   required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button name="add" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<!-- /.container -->

{% endblock content %}