{% extends "layouts.html" %}
{% from "macros.html" import nav_right with context %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="navbar-nav navbar">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/shop.html">Shop</a>
            <a class="nav-item nav-link" href="/checkout.html">Shopping Cart</a>
          </div>
          {{ nav_right('profile') }}
      </div>
    </nav>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ name[0] }}</h1>
      <img src="static/images/thanos.jpg" class="rounded-circle" alt="Cinque Terre" width="296" height="236">
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
          <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;">
              <img src="static/images/thanos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Order History</h5>
                <p class="card-text">View past orders on this account.</p>
                <a href="history.html" class="btn btn-primary">View Orders</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;">
              <img src="static/images/thanos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Wish List</h5>
                <p class="card-text">View saved items.</p>
                <a href="wishlist.html" class="btn btn-primary">View Wishlist</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;">
              <img src="static/images/thanos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Premium</h5>
                <p class="card-text">View account status and benefits.</p>
                <a href="#" class="btn btn-primary">View Benefits</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;">
              <img src="static/images/thanos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Addresses</h5>
                <p class="card-text">Change the addresses associated with your account.</p>
                <a href="#" class="btn btn-primary">Edit Addresses</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;">
              <img src="static/images/thanos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Payment Methods</h5>
                <p class="card-text">Add or remove methods of payment.</p>
                <a href="#" class="btn btn-primary">Change Payment Info</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4" style="width: 18rem;">
              <img src="static/images/thanos.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Settings</h5>
                <p class="card-text">Change your accounts settings.</p>
                <a href="#" class="btn btn-primary">Edit Settings</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Raymond Huang 2019</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock content %}