{% extends "layouts.html" %}
{% from "macros.html" import nav with context %}
{% block content %}
{{ nav('shop') }}

<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4"><img src="/static/images/favicon.jpg" width="50" height="50" class="d-inline-block align-top" alt="">  Clothing</h1>
            <div class="list-group">
                {% for item in category %}
                <a href="/shop.html?category={{ item[0] }}" class="list-group-item">{{ item[0] }}</a>
                {% endfor %}
            </div>

            {% if employee %}
                <button style="margin-top:1rem;" data-toggle="modal" data-target="#addItemModal" type="submit" name
                        class="btn btn-success btn-lg">Add Item
                </button>
                <button style="margin-top:1rem;" data-toggle="modal" data-target="#addDiscountModal" type="button"
                        class="btn btn-primary btn-lg">Add Discount
                </button>
                <button style="margin-top:1rem;" data-toggle="modal" data-target="#deleteDiscountModal" type="button"
                        class="btn btn-danger">Delete Discount
                </button>
            {% endif %}

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <!--<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>-->

            <div class="row">
                {% for item in data %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/item.html?type={{ item[0] }}&price={{ item[1] }}&desc={{ item[2] }}&id={{ item[3] }}&quantity={{ item[4] }}&seller={{ item[5] }}&category={{ item[6] }}">
                            <img class="card-img-top" src="static/images/items/{{ item[3] }}.png"alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/item.html?type={{ item[0] }}&price={{ item[1] }}&desc={{ item[2] }}&id={{ item[3] }}&quantity={{ item[4] }}&seller={{ item[5] }}&category={{ item[6] }}">
                                    {{ item[0] }}</a>
                            </h4>
                            <h5>${{ item[1] }}</h5>
                            <p class="card-text">{{ item[2] }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
</div>
<!-- /.container -->

<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="POST" action="">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalTitle">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputName">Name</label>
                            <input type="name" class="form-control" id="inputName" placeholder="Name"
                                    name="itemname" value="{{ request.form.itemname }}" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPrice">Price</label>
                            <input type="price" class="form-control" id="inputPrice" placeholder="Price"
                                    name="itemprice" value="{{ request.form.itemprice }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSeller">Seller Name</label>
                        <input type="seller" class="form-control" id="inputSeller" placeholder="Seller Name"
                                name="itemseller" value="{{ request.form.itemseller }}" required>
                    </div>
                    <div class="form-group">
                        <label for="inputType">Item Name</label>
                        <input type="type" class="form-control" id="inputType" placeholder="Item Name"
                               name="itemtype" value="{{ request.form.itemtype }}" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCategory">Category</label>
                            <input type="type" class="form-control" id="inputCategory" placeholder="Category"
                                    name="itemcat" value="{{ request.form.itemcat }}" required>
                        </div>
                        <!--<div class="form-group col-md-4">
                            <label for="customFile">Image</label>
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFile">Image</label>
                                <input type="file" class="custom-file-input" id="customFile" placeholder="Image">
                            </div>
                        </div>-->
                        <div class="form-group col-md-2">
                            <label for="inputQuantity">Quantity</label>
                            <input type="text" class="form-control" id="inputQuantity"
                                    name="itemquantity" value="{{ request.form.itemquantity }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputReview">Description</label>
                            <textarea class="form-control" id="inputReview" rows="5" placeholder=""
                                    name="itemdesc" value="{{ request.form.itemdesc }}"></textarea>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" name="additem" class="btn btn-primary">Add Item</button>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addDiscountModal" tabindex="-1" role="dialog" aria-labelledby="addDiscountModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="POST" action="">
            <div class="modal-header">
                <h5 class="modal-title" id="addDiscountModalLabel">Add Discount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCode">Code</label>
                            <input type="code" class="form-control" id="inputCode" placeholder="Code"
                                    name="discountid" value="{{ request.form.discountid }}" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPercent">Percent(decimal)</label>
                            <input type="percent" class="form-control" id="inputPercent" placeholder="Percent Off"
                                    name="percent" value="{{ request.form.percent }}" required>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="adddis" class="btn btn-primary">Add Discount</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteDiscountModal" tabindex="-1" role="dialog" aria-labelledby="deleteDiscountModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="POST" action="">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteDiscountModalLabel">Delete Discount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputCode">Enter Code</label>
                            <input type="code" class="form-control" id="inputCode" placeholder="Code"
                                    name="discountidtodelete" value="{{ request.form.discountidtodelete }}" required>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="deletedis" class="btn btn-danger">Delete Discount</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock content %}