
{% extends "layouts.html" %}
{% block content %}
    <form class="form-signin" method = "POST" action = "">
      <img class="mb-4" src="/static/images/favicon.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
      <label for="inputFirst" class="sr-only">First Name</label>
      <input type="firstName" id="inputFirst" class="form-control" placeholder="First Name" name = "firstName" value = "{{ request.form.firstName }}" required>
      <label for="inputLast" class="sr-only">Last Name</label>
      <input type="lastName" id="inputLast" class="form-control" placeholder="Last Name" name = "lastName" value = "{{ request.form.lastName }}" required>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name = "email" value = "{{ request.form.email }}" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"  name = "password" value = "{{ request.form.password }}" required>
      <label for="verifyPassword" class="sr-only">Verify Password</label>
      <input type="verify" id="verifyPassword" class="form-control" placeholder="Verify Password" name = "verifyPassword" value = "{{ request.form.verifyPassword }}" required>
      <label for="inputPhone" class="sr-only">Phone Number</label>
      <input type="phone" id="inputPhone" class="form-control" placeholder="Phone Number" name = "phone" value = "{{ request.form.phone }}" required/>
      <input type= "birthday" class="form-control" id="birthday" name="birthday" placeholder="Birthday" type="text" value = "{{ request.form.birthday }}" required/>
      <button class="btn btn-lg btn-primary btn-block" role="button" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>
{% endblock content %}
