{% extends "layouts.html" %}
{% from "macros.html" import nav with context %}
{% block content %}
{{ nav('') }}
<div class="container">
    <h2>Thank you for shopping with RTG Clothing!</h2>
    <h5>Your order details are below.</h5>
    <p class="text-muted">Order #123456789</p>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-4">
            <strong>Name</strong>
        </div>
        <div class="col-4">
            <strong>Description</strong>
        </div>
        <div class="col-2">
            <strong>Quantity</strong>
        </div>
        <div class="col-2">
            <strong>Price</strong>
        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-4">
            <img src="static/images/thanos.jpg" class="img-fluid float-left mr-2" alt="">
            <h6>Thanos</h6>
        </div>
        <div class="col-4">
            <p>My lord and savior</p>
        </div>
        <div class="col-2">
            <p>14,000,651</p>
        </div>
        <div class="col-2">
            <p>Priceless</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <img src="static/images/thanos.jpg" class="img-fluid float-left mr-2" alt="">
            <h6>Thanos</h6>
        </div>
        <div class="col-4">
            <p>My lord and savior</p>
        </div>
        <div class="col-2">
            <p>14,000,651</p>
        </div>
        <div class="col-2">
            <p>Priceless</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-10">
            <a href="shop.html" class="btn btn-primary">Return to Shop</a>
        </div>
        <div class="col-2">
            <div class="float-left">
                <h6>Total: &nbsp;</h6>
            </div>
            <div class="float-left">
                <p>Priceless^2</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Raymond Huang, Gurpreeth Singh, Tenzin Loden 2019</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock content %}