{% extends "layouts.html" %}
{% from "macros.html" import nav with context %}
{% block content %}
{{ nav('wishlist') }}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Wish List</h1>
      </div>
    </div>
<div class="container">
    <div class="row">
          <!-- /.col-lg-12 -->
        {% if values != None %}
        {% for value in values %}
            <div class="col-lg-12">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="static/images/items/{{ value[0] }}.png" alt="">
                <div class="card-body">
                    <h3 class="card-title">{{ value[1] }}</h3>
                    <h4>{{ value[2] }}</h4>
                    <p>
                        <form method="POST">
                        <input type="hidden" name="item" value={{ value[0] }}>
                        <input type="submit" class="btn btn-primary" name="cart" value="Buy Now">
                        <input type="submit" class="btn btn-danger" name="remove" value="Remove">
                        </form>
                    </p>
                </div>
                </div>
            <!-- /.card -->
            </div>
        {% endfor %}
          <!-- /.col-lg-12 -->
        {% else %}
            <p> No Items in Wishlist</p>
        {% endif %}
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Raymond Huang, Gurpreeth Singh, Tenzin Loden 2019</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock content %}