footer{
   margin-top:3rem;
}

h2 {
    margin-top:1rem;
}

.container{
    padding-left:50px;
    padding-right:50px
}

.dropdown-date {
    margin-top:3rem;
    margin-left:1rem;
    width:150px;
}

.jumbotron {
    width:100%;
    margin:0;
}