.card mt-4{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

footer{
   margin-top:3rem;
}

.jumbotron {
    width:100%;
    margin:0;
}

.alert {
    margin-top:1rem;
}